<!DOCTYPE html>
<html lang="en">
  <head>
    @@include("./components/head/_head.html")
  </head>
  <body>
    <!-- main start -->
    <main class="layout-one-column main__container">
      <!-- section test-section start -->
      @@include("./components/test-section/_test-section.html")
      <!-- section test-section end -->
    </main>
    <!-- main end -->
    <!-- footer start -->
    @@include("./components/footer/_footer.html")
    <!-- footer end -->
  </body>
</html>
