<footer class="container layout-one-column footer__container">
  <ul class="layout-multiple-columns footer__list">
    <li class="text-l footer__item">&copy; 2024 Dmitriy Frostoff</li>
    <li class="footer__item">
      <a class="layout-one-column footer__link" href="https://github.com/Dmitriy-Frostoff" title="click to visit Dmitriy-Frostoff's GitHub" target="_blank">
        <span>
          <!-- github icon start -->
          @@include("./html-svg assets/_github-svg.html")
          <!-- github icon end -->
        </span>
        <span class="text-l github-text">GitHub</span>
      </a>
    </li>
    <li class="footer__item">
      <a class="footer__link rsschool-logo" href="https://rs.school/js/" title="click to go to the RS School Course" target="_blank">
        <span>
          <!-- github icon start -->
          @@include("./html-svg assets/_rsschool-svg.html")
          <!-- github icon end -->
        </span>
      </a>
    </li>
  </ul>
</footer>
